@import "../../../cta";
@import "../../../mixins";
@import "../../../templaytes/cards";
@import "../../../templaytes/btn";

.registration {
    width: 34.5rem;
    height: 67.2rem;
    padding: 1.1rem;
    border-radius: 2rem;
    text-align: center;
    background: $clr-bg-body;
    @include respond-to("phone") {
        color: $clr-bg-body;
        backdrop-filter: blur(10px);
        background: #00000080;
    }
    .title {
        margin-top: 2rem;
        span{
            position: relative;
            top: 0;
            right: 5rem;
            a{
                color: $clr-primary-brown;
                transition: $transition-fast;
                &:hover{
                    color: $clr-hover-yellow;
                }
                &:active{
                    @include click();
                }
            }
        }
        @include respond-to('phone'){
            color: $clr-bg-body;
            span{
                a{
                    color: $clr-bg-body;
                }
            }
        }
    }
    form{
        #registration-name,
        #registration-email,
        #registration-password,
        #return-registration-password{
            width: 100%;
            margin-top: 5rem;
            font-size: $font-size-x;
            &::placeholder{
                font-weight: 700;
                color: $clr-primary-gray;
            }
            @include respond-to('phone'){
                &::placeholder{
                    color: $clr-bg-body;
                }
            }
        }
        .agree-checkbox{
            display: flex;
            
            align-items: center;
            gap: 2rem;
            margin-top: 4.5rem;
            .checkbox-holder{
                position: relative;
                .checkbox{

                    width: 3rem;
                    height: 3rem;
    
                    flex-shrink: 0;
    
                    appearance: none;
                    outline: none;
                    cursor: pointer;
    
                    background: $clr-primary-brown;
                    
                }
                i{
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    font-size: $font-size-xl;
                    color: green;
                    
                    pointer-events: none;
                }
                .checkbox:checked ~ i{
                    opacity: 1;
                }
            }
            .text{
                text-align: left;
                font-size: $font-size-m;
            }
        }
        .btn--registration{
            margin-top: 5.2rem;
        }
    }
}
