@import './cta';
@import './mixins';
@import './components/main/registration/registration';
@import './templaytes/cards';
@import './templaytes/btn';

.main{
    height: 100vh;
    
    display: grid;
    place-items: center;

    background-image: url(../img/bg/bg-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}